@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #243e63;
  font-size: 22px;
}

.logo-box {
  background: #6415ff;
  color: white;
  font-weight: 700;
  padding: 6px 9px;
  border-radius: 4px;
}

.links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.links a {
  color: #243e63;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.links button {
  background: #6415ff;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 999px;
  font-weight: 700;
  transition: all 300ms ease;
}

.links button:hover {
  background: #4b0db8;
  transition: all 300ms ease;
}



/* 

NAVBAR ↓

*/


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__row {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 12px;

    font-size: 24px;
    font-weight: 900;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.modal__link--primary:hover {
    background: #4b0db8;
    transition: all 300ms ease;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/


header .row {
  display: flex;
  align-items: center;
}

.header__description {
  width: 40%;
}

.header__description h1,
.section__text h2,
#features h2,
#pricing h2 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 900;
}

.header__description p,
.section__text p,
.section__para,
.service p,
.step p {
  color: #7c8ba1;
  line-height: 1.6;
}

.header__companies {
  margin: 48px 0;
}

.header__companies img {
    width: 100%;
    max-width: 400px;
    opacity: 0.5;
}

.header__email {
  position: relative;
  max-width: 450px;
  margin: 32px 0;
}

.header__email input {
  width: 100%;
  padding: 20px 180px 20px 28px;
  border: 2px solid #e5e7eb;
  border-radius: 999px;
}

.header__email button {
  position: absolute;
  right: 6px;
  top: 6px;
  bottom: 6px;
  padding: 0 32px;
  border: none;
  border-radius: 999px;
  background: #6415ff;
  color: white;
  font-weight: 700;
  transition: all 300ms ease;
}

.header__email button:hover {
  background: #4b0db8;
  transition: all 300ms ease;
}

.header__img--wrapper {
  width: 60%;
}

.header__img--wrapper img,
.section__img img {
  width: 100%;
}

/* SERVICES */

.service {
    display: flex;
    width: calc(100%/3);
    gap: 16px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
    row-gap: 32px;
}

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.service i{
    font-size: 32px;
    color: #6415ff;
    margin-bottom: 16px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    flex: 0 0 48px;
    flex-shrink: 0;
    padding: 24px;
    gap: 16px;
}



/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#quality h2 {
    margin-top: 16px;
}

.btn {
    background-color: #6415ff;
    color: white;
    margin-top: 32px;
    border: none;
    border-radius: 9999px;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn:hover {
    background-color: #4b0db8;
    transition: all 300ms ease;
}


/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step h3 {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 700;
}


/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans {
    display: flex;
    gap: 32px;
    margin-top: 64px;
    width: 100%;
    justify-content: center;
}

.plan {
    width: calc(100% / 3);
    max-width: 320px;

    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 40px 32px;
    text-align: center;
}

.plan h3 {
    font-size: 14px;
    font-weight: 800;
}

.plan h4 {
    font-size: 40px;
    font-weight: 800;
    margin: 16px 0;
}

.plan p {
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.plan--featured {
    background: linear-gradient(135deg, #4c51bf, #667eea);
}

.plan--featured h3,
.plan--featured h4,
.plan--featured p {
    color: white;
}

.plan .btn {
    margin-top: 32px;
    padding: 14px 36px;
    font-size: 12px;
}

.plan {
    padding: 0;
    overflow: hidden;
}

.plan__top {
    padding: 32px;
}

.plan__top p {
    margin-top: 8px;
}

.plan__middle {
    padding: 32px;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
}

.plan__middle p {
    gap: 8px;
}

.plan__bottom {
    padding: 32px;
}

.plan:first-child {
    border-top: 8px solid #38b2ac;
}

.plan:last-child {
    border-top: 8px solid #fc8181;
}

.plan:first-child .btn {
    background: linear-gradient(135deg, #38b2ac, #4fd1c5);
}

.plan--featured .btn {
    background: white;
    color: #6415ff;
}

.plan:last-child .btn {
    background: linear-gradient(135deg, #fc8181, #bb1c1c);
}



/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start__row {
    background: #6415ff;
    border-radius: 8px;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.start__title {
    color: white;
    font-size: 32px;
    font-weight: 900;
    width: 60%;
}

.start__buttons {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
}

.start__btn {
    background: #fc8181;
    color: white;
    border: none;
    padding: 14px 32px;
    border-radius: 9999px;
    font-weight: 700;
    transition: all 300ms ease;
}

.start__btn.start__btn--outline {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.start__btn:hover {
    background: #f56565;
    transition: all 300ms ease;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
}

.footer__columns div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__columns h4 {
    color: white;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 12px;
}

.footer__columns a {
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.footer__bottom {
    margin-top: 64px;
    padding-top: 32px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo,
.footer__copyright,
.footer__socials i {
    color: white;
}

.footer__logo {
    font-size: 20px;
    font-weight: 800;
}

.footer__socials {
    display: flex;
    gap: 16px;
}

.footer__socials h4 {
    width: 32px;
    height: 32px;
    background: white;
    color: #6415ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__bottom h3 {
    color: white;
}

.footer__bottom p {
    color: white;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    text-align: center;
}

/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}
